<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}

<div class="container text-center">
    <h1>Employee List</h1>
    <a href="{%url 'create'%}" class="btn btn-primary btn-lg">Add</a>
    {% if emp_list %}
    <table class="table table-border table-striped">
        <thead class="table-dark">
            <tr>
                <th>Employee Name</th>
                <th>Employee Position</th>
                <th>Employee Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.name}}</td>
                <td>{{emp.position}}</td>
                <td>{{emp.salary}}</td>
                <td>
                    <a href="{% url 'update' emp.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete' emp.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No employee records found!</p>
    {% endif %}
</div>

{% endblock %}